doctype html
html
    head
        meta(charset='UTF-8')
        block head
    body
        .container
            .header
                img(src='images/mimuw.jpg' alt='')
                a(href='trip') Wycieczki lotnicze
                a(href='trip') Wycieczki autokarowe
                a(href='trip') Moje konto
            block content
            .footer
                p Biuro podr&oacute;&zdot;y, 2022
                a(href='trip') O firmie
                a(href='trip') Polityka prywatno&sacute;ci
                a(href='trip') Moje konto
