doctype html
head
    meta(charset='UTF-8')
    title Successul Login
    link(rel='shortcut icon' href='#')

body
    h1#success Your login was successful!
    p#display_bookings
        ul
            each val in reservations
                li= "Reservation for trip with id " + val.WycieczkaId + " for " + val.liczba_miejsc + " seats, on name " + val.imie + " " + val.nazwisko
    a(href='/logout')
        button(id='logout-button' type='button') Logout
script.
