doctype html
head
    meta(charset='UTF-8')
    title Successul Registration
    link(rel='shortcut icon' href='#')

body
    h1#success Your registration was successful! You can now login to your account.
script.
